article > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

article li {
    border: 1px solid black;
    height: 25vh;
    width: 20vw;
}

article {
    border: 1px solid black;
    color: white;
}
