.cardContainer {
    border: 1px solid #2271D1;
    padding: 10px;
}
article > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

article li {
    height: 50vh;
    width: 20vw;
}

article {
    color: white;
}
