nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
nav > ul {
    list-style: none;
    width: 30%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header button {
    height: 5vh;
    width: 10vw;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.onThisPage {
    font-size: 1.2rem;
    background: black;
    font-weight: bold;
    color: #2271D1;
    border: 2px solid #2271D1;
    box-shadow: inset 0 0 20px #2271D1;
}
.nonSelected {
    background: none;
    border: 2px solid white;
}
.visited button {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}
.visited {
    text-decoration: none;
    color: #2271D1;
}
