.Main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    grid-column: 1;
    grid-row: 1;
    color: white;
}

.Main > img {
    grid-column: 2;
    grid-row: 1;
    display: inline-block;
}

.titleStyle {
    display: flex;
    justify-content: center;
    width: 35%;
    background-color: #6BD1FF;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
}
